@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

:root {
    --main-color: #e02f6b;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(5px);
    --pink-light: #efa2b4;
    --cyan-light: #aef1ee;
    --green-yelow: #cddc39;
    --white: #fff;

}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
    font-size: 16px;
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-top-heighlight-color: transparent;
    padding: 5vh 15px;
    background-attachment: fixed;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: var(--green-yelow);
    opacity: 0.12;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-weight: 600;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

section {
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 30px;
    min-height: 90vh;
}

#root {
    max-width: 1200px;
    margin: auto;
    transition: all 0.5s ease-in-out;
}

.align-items-center {
    align-items: center;
}

.navbar {
    display: flex;
    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1.3s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
}

.navbar:hover {
    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);
}

.navbar:hover>a {
    opacity: 1;
    transition-delay: 0s;
}

.center,
.left,
.right {
    width: 40px;
    height: 40px;
    transform-style: preserve-3d;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid var(--white-alpha-40);
    box-shadow: 0 0 20px 5px rgba(100, 100, 255, .4);
    opacity: 0;
    transition: all .3s ease;
    transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    background-blend-mode: color-burn;
    text-align: center;
    line-height: 40px;
    color: var(--main-color);
}

.navbar:hover .text {
    opacity: 1;
}

.navbar .center:hover {
    box-shadow: 0 0 30px 10px var(--main-color);
    background-color: #ccf;
}

.navbar .text {
    transform: translateY(30px);
    opacity: 0;
    transition: all .3s ease;
    bottom: 0;
    left: 0px;
    top: 2px;
    position: absolute;
    will-change: transform;
    color: var(--blue-dark);
    text-shadow: 0 0 5px var(--main-color);
    font-size: 12px;
    text-transform: uppercase;
}

.navbar .right .text {
    left: -7px;
}

.navbar .center {
    opacity: 1;
}

.left {
    transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
}

.right {
    transform: translateX(30px) translateZ(-25px) rotateY(5deg);
}


.home-section,
.about-section,
.portfolio-section {
    display: flex;
    min-height: 80vh;
}

.container {
    padding: 0px 40px;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    width: 100%;
    padding-left: 15px;
}

.home-text,
.home-img {
    width: 50%;
    padding: 15px;
}

.home-text p {
    font-size: 18px;
}

.home-text h1 {
    font-size: 50px;
    text-transform: capitalize;
}

.home-text h2 {
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 0 30px;
    font-weight: 300;
}

.home-text .btn {
    margin: 0 15px 15px 0;
}

.btn {
    line-height: 1.5;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 10px 28px;
    border-radius: 30px;
    display: inline-block;
    color: var(--main-color);
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease;
}

.btn:hover::before {
    width: 100%;
}

.btn:hover {
    color: var(--white);
}

.home-img .img-box {
    background-color: var(--white-alpha-25);
    border-radius: 50%;
    max-width: 360px;
    margin: auto;
}

.home-img .img-box img {
    width: 100%;
}


.ptb-30 {
    padding: 30px 0;
}

.section-title,
.about-title {
    padding: 0px 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.about-title h2 {
    font-size: 40px;
    text-transform: capitalize;
}

.about-img {
    width: 40%;
    padding: 0 15px;
}

.about-img .img-box {
    background-color: var(--white-alpha-25);
    max-width: 380px;
    border: 1px solid var(--white-alpha-40);
    margin: auto;
    border-radius: 10px;
}

.about-img .img-box img {
    width: 100%;
}

.about-text {
    width: 60%;
    padding: 0 15px;
}

.about-text h3 {
    text-transform: capitalize;
    font-size: 20px;
    margin: 20px 0;
}

.about-text .skills {
    display: flex;
    flex-wrap: wrap;
}

.about-text .skill-item {
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 5px 15px;
    text-transform: capitalize;
    margin: 0 20px 20px 0;
    border-radius: 20px;
}

.about-tabs {
    margin-top: 20px;
}

.about-tabs .tab-item {
    padding: 2px 0;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    display: inline-block;
    color: var(--blue-dark);
    font-size: 20px;
    font-weight: 500;
    margin: 0 30px 0 0;
    position: relative;
    opacity: 0.5;
    transition: all 0.3s ease;
    cursor: pointer;
}

.about-tabs .tab-item:last-child {
    margin: 0;
}

.about-tabs .tab-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: var(--blue-dark);
    transition: width 0.3s ease;
}

.about-tabs .tab-item:hover::before {
    width: 100%;
}

.about-tabs .tab-item.active {
    color: var(--main-color);
    opacity: 1;
    cursor: auto;
    transition: all 1.3s ease-out;
}

.about-tabs .tab-item.active::before {
    width: 100%;
    background-color: var(--main-color);
}

.about-text .timeline {
    position: relative;
}

.about-text .timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: var(--main-color);
    top: 0;
    left: 5px;
}

.about-text .tab-content {
    padding: 40px 0;
    display: none;
}

.about-text .tab-content.active {
    display: block;
}

.about-text .timeline-item {
    margin-bottom: 30px;
    position: relative;
    padding: 10px 0 0 40px;
    transition: all 1.3s ease-out;
}

.about-text .timeline-item::before {
    content: '';
    position: absolute;
    height: 11px;
    width: 11px;
    background-color: var(--main-color);
    left: 0;
    top: 16px;
    border-radius: 50%;
}

.about-text .timeline-item:last-child {
    margin-bottom: 0;
}

.about-text .timeline-item .date,
.about-text .timeline-item .email,
.about-text .timeline-item .phone,
.about-text .timeline-item .follow {
    display: block;
    color: var(--main-color);
    font-weight: 400;
    margin: 0 0 10px;
}

.about-text .timeline-item h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 0 10px;
}

.about-text .timeline-item h4 span {
    font-weight: 400;
}

.about-text .btn {
    margin: 0 15px 15px 0;
}

.follow-me .social {
    text-decoration: none;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 5px 15px;
    margin: 0 20px 20px 0;
    border-radius: 20px;
    color: var(--main-color);
}

.portfolio-item{
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
}
.portfolio-item-thumbnail{
    padding: 10px;
    background-color:var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 10px;
}
.portfolio-item-thumbnail img{
    width: 100%;;
}
.portfolio-item h3{
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px 0;
}
.portfolio-item-details{
    display: none;
}

.portfolio-popup{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 12;
    overflow-y: auto;
    visibility: hidden;
}
.portfolio-popup.open{
    visibility: visible;
    overflow-y: auto;
    transition: all 0.5s ease-in-out;
}
.popup-inner{
    min-height: 100vh;
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-content{
    background-color: var(--white-alpha-25);
    padding: 30px;
    border-radius: 30px;
    max-width: 900px;
    width: 100%;
    border: 1px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter-blur);
}
.popup-header{
    position: relative;
}
.popup-header .btn{
    height: 40px;
    width: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -45px;
    top: -45px;
}
.popup-thumbnail img{
    border-radius: 10px;
}
.popup-header h3{
    font-size: 25px;
    text-transform: capitalize;
    margin: 20px 0 15px;
}
.popup-body .description{
    margin-bottom: 20px;
}
.popup-body .general-info li{
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: capitalize;
}
.popup-body .general-info li span{
    font-weight: 300;
}
.popup-body .general-info li span a{
    text-transform: lowercase;
    color: var(--main-color);
}
body.hide-scrolling{
    overflow-y: hidden;
}